extends layout

block content
  h1 Register
  form(action='/register', method='POST', enctype='multipart/form-data')
    label(for='username') Username:
    input(type='text', name='username', id='username')
    br
    label(for='password') Password:
    input(type='password', name='password', id='password')
    br
    label(for='profilePicture') Profile Picture:
    input(type='file', name='profilePicture', id='profilePicture')
    br
    button(type='submit') Register
